<div class="grid footer-beturin justify-item-center">
  <div [style]="{'margin':'1.5rem 0'}" class="col-12">
    <p class="text-logo">beturin</p>
  </div>
  <div [style]="{'margin-bottom':'1rem'}" class="col-12">
    <p class="footer-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero.</p>
  </div>
  <div class="col-12">
    <p class="footer-secondary">+39 3403885497</p>
  </div>
  <div class="col-12">
    <p class="footer-secondary">info@beturin.com</p>
  </div>
  <div [style]="{'margin-bottom':'1.5rem'}" class="col-12">
    <p class="footer-secondary">Corso Roma 123, Torino</p>
  </div>
  <div class="col-12">
    <p class="footer-secondary">Copyright © <a [style]="{'color':'white'}">aledeveloper.com</a></p>
  </div>
</div>
