<div [style]="{'margin-top':'2rem'}" class="grid justify-item-center align-self-center">
  <div class="col-12 align-self-center">
    <div class="grid justify-item-center align-self-center check-availability-card">
      <div [style]="{'margin':'1rem 0'}"  class="col-12 align-self-center">
        <p [style]="{'font-weight':'bold','font-size':'1.3rem'}">Check our rooms availability</p>
      </div>
      <div [style]="{'width':'100%','margin':'0.3rem 0'}" class="col-12 align-self-center">
        <label [style]="{'text-align':'center','margin-bottom':'0.3rem'}" for="checkIn">Check in</label>
        <input type="date" id="checkIn">
      </div>
      <div [style]="{'width':'100%','margin':'0.3rem 0'}" class="col-12 align-self-center">
        <label [style]="{'text-align':'center','margin-bottom':'0.3rem'}" for="checkOut">Check out</label>
        <input type="date" id="checkOut">
      </div>
      <div [style]="{'margin':'0.3rem 0.3rem 0.3rem 0'}" class="col-6 align-self-center">
        <label [style]="{'text-align':'center','margin-bottom':'0.3rem'}" for="checkOut">Adults</label>
        <input placeholder="0" type="number" id="adults">
      </div>
      <div [style]="{'margin':'0.3rem 0 0.3rem 0,3rem'}" class="col-6 align-self-center">
        <label [style]="{'text-align':'center','margin-bottom':'0.3rem'}" for="checkOut">Children</label>
        <input placeholder="Up to 12 years old"  type="number" id="children">
      </div>
      <div [style]="{'width':'80%','margin':'1.6rem 0'}" class="col-12 align-self-center">
        <button (click)="findRooms()">FIND ROOMS</button>
      </div>
    </div>
  </div>
</div>
