#container {
  color:#1e555c;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#fff;
  color: #1e555c;
}
#flip div:first-child div {
  background:#1e555c;
  color: white;
}
#flip div:last-child div {
  background:#1e555c;
  color: white;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

.loader-container {
  transform: translateX(-100%);
}
